 /* Style the tab */
 
body {
  background-color: var(--primary-background-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, OpenSans, HelveticaNeue-Light, Helvetica Neue Light,
    Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

#root {
  background-color: var(--primary-background-color);
  color: var(--default-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, OpenSans, HelveticaNeue-Light, Helvetica Neue Light,
    Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}


form {
  width: 50%;
  background-color: var(--primary-background-color);
  color: var(--default-color);
  border: none
}

.tab {
  background-color: var(--primary-background-color);
  color: var(--default-color);
  overflow: hidden;
  border: 1px solid #ccc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: var(--primary-background-color);
  color: var(--text-primary-color);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--ui-gray-darkest);
  color: var(--tab-text-color-active);
}

/* Style the tab content */
.tabcontent {
  background-color: var(--primary-background-color);
  color: var(--default-color);
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tableList p {
  color: var(--default-color);
}

.patientTable {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
  padding: 6px 12px;
  border: none;
  width: 500px;
}

.patientTableHeader {
  color: var(--default-color);
}


