
 h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
  }
.modal {
  position: relative;
  z-index: 100;
  width: 500px;
  margin: auto;
  background: #333337;
  border: 2px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: 
    -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);  
  opacity: 1;
  visibility: visible;
  &.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
  }
  @supports (offset-rotate: 0deg) {
    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
    &.off {
      offset-distance: 100%;
    }
  }
  @media (prefers-reduced-motion) {
    offset-path: none;
  }
}
.content {
    padding: 1rem;
}
.actions {
    border-top: 1px solid #ccc;
    background: #333337;
    padding: 0.5rem 0 0.5rem 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.applyButton {
      border: 0;
      background: #78f89f;
      border-radius: 5px;
      padding: 0.5rem 1rem;
	  margin-right: 1rem;
      font-size: 0.8rem;
      line-height: 1;
    }
.closeButton {
  border: 0;
  background: #ff4d4d;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  line-height: 1;
}
#centered-toggle-button {
  position: absolute;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.layoutOptions {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 104px;
  max-height: 100%;
  z-index: 200;
  background-color: var(--ui-gray-darker);
  border: none;
  transition: 1.1s ease-out; 
  opacity: 1;
  padding: 2px 2px 2px 2px;
}

.layoutOptions.medIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.medIcon.active {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: var(--tab-text-color-active);
}

.layoutOptions.space20px {
  width: 20px;
  height: 100%;
}


