<head>
    <meta charset="utf-8">
    <title>Viewer</title>
    <meta name="description" content="Zero-footprint DICOM Viewer">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png" sizes="16x16 32x32 64x64">
    <!--Best display for mobile devices-->
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
    <div id="root"></div>
</body>
