
.mainBlock {
  background-color: var(--primary-background-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
}

.tab {
  width: calc(100% - 2px);
  height: 50px;
  background-color: var(--primary-background-color);
  color: var(--default-color);
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: var(--primary-background-color);
  color: var(--text-primary-color);
/*  float: left;*/
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--ui-gray-darkest);
  color: var(--tab-text-color-active);
  border: 1px solid var(--tab-text-color-active);
}

/* Style the tab content */
.tabcontent {
  background-color: var(--primary-background-color);
  color: var(--default-color);
  padding: 6px 0px 6px 0;
  border: none;
  border-top: none;
  width: 100%;
  height: calc(100% - 50px - 12px);
}

.tableList p {
  color: var(--default-color);
}

.patientTable {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
  padding: 6px 12px 6px 12;
  border: none;
  width: 500px;
  height: calc(100% - 50px - 12px);
}

.patienTableHeader {
  color: var(--default-color);
}


