

.imagePreviews {
/*  background-color: var(--ui-gray-darker);*/
  color: var(--text-primary-color);
  padding: 6px 0px 0px 0px;
  border: none;
  height: calc(100% - 6px);
  width: 100%;
  font-size: 14px;
  display: inline-block;
}

.scrollPreviews {
  overflow: auto;
  white-space: nowrap;
  cursor: pointer;
}

.scrollItem {
  background-color: var(--ui-gray-darker);
  height: inherit;
  width: inherit;
  border: none;
  display: inline-block;
}

.scrollItem.active {
  display: inline-block;
  border: 1px solid var(--tab-text-color-active);
}

.scrollItem.active_secondary {
  display: inline-block;
  border: 1px solid var(--tab-text-color-active);
  border-style: dotted;
}


.seriesTableList {
  width: 100%;
  height: 100%;
  color: var(--default-color);
  font-size: 14px;
}

.seriesTable {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
  padding: 0px 12px;
  border: none;
  display: inline-block;
}

.seriesTable td.label {
  color: var(--table-text-color-label);
}

.rowToolbar {
  display: block;
  height: 10%;
  width: 100%;
}

.row {
  display: block;
  height: 50%;
  width: 100%;
}

.Views3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
  height: 100%;
  width: 100%;
}

.col {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
  height: 100%;
  width: 50%;
  padding: 4px 4px;
}

.row-sm-1 {
  height: 100%;
  width: 100%;
  float: top;
}

.row-sm-2 {
  height: 50%;
  width: 100%;
}

.col-sm-4 {
  float: left;
  height: 100%;
  width: 50%;
}

.box3d {
  display: block;
  height: 100%;
  width: 100%;
}


.PatientModelingVTK{
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.PatientModelingVTKToolbar{
  float: top;
  width: 100%;
  height: 60px;
}

.PatientModelingVTKMain{
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 60px);
  padding: 0 0 0 0;
  position: relative;
}

.SegPanel {
  overflow: auto;
  width: 200px;
  height: 100%;
  display: inline-block;
  position: relative;
}

.ImageViews {
  width: calc(100% - 200px);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
  position: relative;
}

.ImagePreviewsBottom{
  width: 100%;
  height: calc(25px - 12px);
  float: bottom;
  position: relative;
  padding: 6px 0 6px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.ImagePreviewsBottom.extended{
  width: 100%;
  height: calc(200px - 12px);
  float: bottom;
  position: relative;
  padding: 6px 0 6px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}

.ImageView {
  display: block;
  width: 100%;
  height: calc(100% - 200px);
  float: top;
  position: relative;
}

.ImageView.extended {
  display: block;
  width: 100%;
  height: calc(100% - 25px);
  float: top;
  position: relative;
}

.previewsList {
  width: calc(100% - 60px);
  height: 100%;
  display: inline-block;
  position: relative;
}

.previewsIcon {
  width: calc(60px - 10px);
  height: calc(100% - 10px);
  display: inline-block;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
}


.SegPanelContent {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
}

.SegSelection {

}

.SEGTable {

}

.SEGTable table{
}

.segmentVisibility {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.ToolBarSelection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
}

.toolsTab {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
}

.toolsTab button {
  background-color: var(--primary-background-color);
  color: var(--text-primary-color);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 3px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.toolsTab button:hover {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
}

/* Create an active/current tablink class */
.toolsTab button.active {
  background-color: var(--ui-gray-darkest);
  color: var(--tab-text-color-active);
}

.toolsTabContent{
  width: 90%;
  height: 100%;
}

.drawTools{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
}

.drawTools td {
  cursor: pointer;
}

.medIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.smallIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.roiTool{
  color: var(--default-color);
}

.roiTool.active{
  color: var(--tab-text-color-active);
}

.roiTool.disabled{
  color: var(--tab-text-color-disabled);
}

.space20px {
  width: 20px;
  height: 100%;
}

.viewIJK3D {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-content: flex-start;
}

.viewTab {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
}

.viewTab button {
  height: 100%;
  background-color: var(--primary-background-color);
  color: var(--text-primary-color);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 3px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.viewTab button:hover {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
}

/* Create an active/current tablink class */
.viewTab button.active {
  background-color: var(--ui-gray-darkest);
  color: var(--tab-text-color-active);
}

/* Style the tab content */
.viewTabContent {
  width: 100%;
  height: calc(100% - 20px);
  background-color: var(--primary-background-color);
  color: var(--default-color);
  border: 1px solid #ccc;
}

.ProgressBar{
  display: block;
  height: 40px;
  width: calc(100% - 40px);
  background-color: var(--primary-background-color);
  color: var(--text-primary-color);
}

.Progress{
  background-color: var(--default-color);
  color: var(--text-primary-color);
}

.segment{
  background-color: var(--primary-background-color);
  border: none;
}

.segment.active{
  background-color: var(--ui-gray-darker);
  color: var(--tab-text-color-active);
}


.slidecontainer {
  width: 150px; /* Width of the outside container */
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
}

/* The slider itself */
.slider {
  appearance: none;
  width: 100%; /* Full-width */
  height: 100%; /* Specified height */
  background: var(--primary-background-color);
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.view2D {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: default;
}

.formInput {
  width: 320px;
}

.scrollHistoryList{
  background-color: var(--ui-gray-darker);
  height: 100%;
  width: calc(100% - 2px);
  border: 1px solid var(--tab-text-color-active);
  overflow: auto;
}

.scrollHistoryList h1{
  color: var(--default-color);
  padding: 0 0 3px 0;
}

.scrollHistoryList th{
  color: var(--default-color);
  padding: 0 5px 0 0;
}
