<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#000000" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="ESHARP Viewer">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="@esharp/viewer">
  <meta name="msapplication-TileColor" content="#fff">
  <meta name="msapplication-TileImage" content="<%= PUBLIC_URL %>assets/logo60x60.png">
  <meta name="msapplication-config" content="<%= PUBLIC_URL %>assets/browserconfig.xml">
  <link rel="manifest" href="<%= PUBLIC_URL %>manifest.json">

  <link rel="shortcut icon" href="<%= PUBLIC_URL %>assets/logo60x60.png">
  <link rel="icon" type="image/png" sizes="60x60" href="<%= PUBLIC_URL %>assets/logo60x60.png">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= PUBLIC_URL %>assets/logo60x60">
  <link rel="yandex-tableau-widget" href="<%= PUBLIC_URL %>assets/yandex-browser-manifest.json">

  <!-- Built with: https://polyfill.io/v3/url-builder/ -->
  <!-- Targets IE11 -->
  <script
    src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=default%2CObject.values%2CArray.prototype.flat%2CObject.entries%2CSymbol%2CArray.prototype.includes%2CString.prototype.repeat%2CArray.prototype.find"></script>
  <script type="text/javascript">
    window.PUBLIC_URL = '<%= PUBLIC_URL %>';
  </script>
  <script type="text/javascript" src="<%= PUBLIC_URL %>app-config.js"></script>
  <script type="module" src="<%= PUBLIC_URL %>init-service-worker.js"></script>

  <title>ESHARP Viewer</title>

  <!-- WEB FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap" rel="stylesheet" />

  <!-- EXTENSIONS -->
  <!-- <script type="text/javascript" src="path/to/some-extension.js"></script>

    <script>
      // If configuration file is a JS Object:
      window.config.extensions = [SomeExtension];

      // If configuration file is a JS Function:
      window.config = () => {
        return {
          extensions: [SomeExtension]
        };
      };
    </script> -->
</head>

<body>
  <noscript> You need to enable JavaScript to run this app. </noscript>

  <div id="root"></div>
</body>

</html>
