<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <meta name="description" content="Zero-footprints DICOM Viewer" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="theme-color" content="#000000" />
  <meta http-equiv="cleartype" content="on" />
  <meta name="MobileOptimized" content="320" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <script
    src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=default%2CObject.values%2CArray.prototype.flat%2CObject.entries%2CSymbol%2CArray.prototype.includes%2CString.prototype.repeat%2CArray.prototype.find"></script>

  <title>Viewer</title>
</head>

<body>
  <noscript> You need to enable JavaScript to run this app. </noscript>

  <div id="root"></div>

  <script type="text/javascript" src="<%= PUBLIC_URL %>app-config.js"></script>
  <script src="/index.umd.js" crossorigin></script>
  <script>
    var containerId = 'root';
    var componentRenderedOrUpdatedCallback = function () {
      console.log('OHIF Viewer rendered/updated');
    };
    window.Viewer.installViewer(
      window.config, // See `/config/default.js`
      containerId,
      componentRenderedOrUpdatedCallback
    );
  </script>
</body>

</html>
